body {
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #e7edee;
	width: 100%;
	display: block;
}

.wrap {
	width: 720px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 25px;
	font-weight: 700;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.buttonWrap {
	width: 720px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.button {
	appearance: none;
	background-color: #FAFBFC;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	box-sizing: border-box;
	color: #24292E;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin: 0 auto;
}

.button:hover {
	background-color: #F3F4F6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.button:disabled {
	background-color: #FAFBFC;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959DA5;
	cursor: default;
}

.button:active {
	background-color: #EDEFF2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.button:focus {
	outline: 1px transparent;
}

.button:before {
	display: none;
}

.button:-webkit-details-marker {
	display: none;
}